@font-face {
    font-family: 'CustomFont';
    src: url('./assets/fonts/CentraNo1-Bold.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}



* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'CustomFont', sans-serif;
    transition: all 0.3s;
}


.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #ffffff;
    color: white;
    padding: 10px 20px;
    position: sticky;
    top: 0;
    z-index: 1000;
    margin-bottom: 50px;
    height: 80px;
}


.navbar-center {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-grow: 1;
}

.logo {
    width: 8%;
    margin: 30px;
    margin-right: 0;
    opacity: 0;
}



.menu-toggle {
    display: none;
    font-size: 30px;
    background: none;
    border: none;
    color: rgb(66, 66, 66);
    cursor: pointer;
    position: relative;
    width: 30px;
    height: 24px;
}

.menu-toggle .bar {
    display: block;
    width: 100%;
    height: 4px;
    background-color: rgb(66, 66, 66);
    margin: 5px 0px;
    transition: 0.3s;
    border-radius: 10px;
}

.menu-toggle.open .bar:nth-child(1) {
    transform: rotate(45deg) translate(2px, 2px);
}

.menu-toggle.open .bar:nth-child(2) {
    opacity: 0;
}

.menu-toggle.open .bar:nth-child(3) {
    transform: rotate(-45deg) translate(10px, -10px);
}

.linksAlign {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    gap: 100px;
}

.link {
    color: rgb(34, 34, 34);
    text-decoration: none;
    font-size: 1.5rem;
    position: relative;
    display: flex;
    cursor: pointer;
    align-items: center;
}

.link::after {
    content: '';
    position: absolute;
    width: 0;
    height: 3px;
    display: block;
    margin-top: 28px;
    left: 0;
    /* Cambiado de right a left */
    background: rgb(34, 34, 34);
    transition: width 0.3s ease;
    -webkit-transition: width 0.3s ease;
}

.link:hover::after {
    width: 100%;
    /* Cambiado de 50% a 100% */
    background: rgb(34, 34, 34);
}

.link:hover {
    color: #919191;
}

.sub-menu {
    display: flex;
    flex-direction: column;
    background-color: #ffffff;
    padding: 10px;
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    z-index: 1000;
    gap: 10px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

.sub-link {
    color: rgb(129, 129, 129);
    text-decoration: none;
    padding: 5px 0;
    font-size: 1rem;
}

.sub-link:hover {
    text-decoration: underline;
}

.gallery {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 0 auto;
    width: 80%;
    padding: 20px;
}

.gallery-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 1fr;
    grid-column-gap: 0px;
    grid-row-gap: 0px;
}

.gallery-item {
    margin: 10px;
    width: 300px;
    height: 300px;
    background-color: #f9f9f9;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.navbar.scrolled .logo {
    animation: showLogo 0.5s forwards;
}

.arrow {
    transition: transform 0.3s;
    width: 15px;
    align-self: center
}

.arrow.open {
    transform: rotate(90deg);
}

/* Estilos generales para el carrusel */
.carousel {
    position: relative;
    width: 100%;
    max-width: 800px;
    margin: auto;
    overflow: hidden;
    border-radius: 14px;

}

.carousel-inner {
    display: flex;
    transition: transform 0.5s ease-in-out;
    height: 400px; 
}

.carousel-item {
    min-width: 100%;
    box-sizing: border-box;
    height: 100%; 
}

.carousel-item img {
    width: 100%;
    height: 100%;
    display: block;
    border-radius: 14px;
    object-fit: cover; 
}

.carousel-control-prev,
.carousel-control-next {
    position: absolute;
    top: 50%;
    transform: translateY(-100%);
    width: 50px;
    height: 50px;
    background-color: rgba(0, 0, 0, 0.5);
    border: none;
    color: white;
    cursor: pointer;
    z-index: 10;
    border-radius: 50%;
}

.carousel-control-prev {
    left: 10px;
}

.carousel-control-next {
    right: 10px;
}

.carousel-control-prev-icon,
.carousel-control-next-icon {
    display: inline-block;
    width: 20px;
    height: 20px;
    background: no-repeat 50% / 100% 100%;
}

.carousel-control-prev-icon {
    rotate: 180deg;
}


.sr-only {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    border: 0;
}

/* Estilos para las miniaturas */
.carousel-thumbnails {
    display: flex;
    justify-content: center;
    margin-top: 10px;
}

.thumbnail {
    width: 60px;
    height: 60px;
    margin: 0 5px;
    cursor: pointer;
    opacity: 0.6;
    transition: opacity 0.3s ease;
    border-radius: 5px;
}

.thumbnail.active,
.thumbnail:hover {
    opacity: 1;
    border: 2px solid #777777;
}

.contact-form {
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
    background-color: #f9f9f9;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin-bottom: 100px;
  }
  
  .contact-form h2 {
    text-align: center;
    margin-bottom: 20px;
    color: #333;
    font-family: 'CustomFont', sans-serif;
  }
  
  .form-group {
    margin-bottom: 15px;
  }
  
  .form-group label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
    color: #333;
  }
  
  .form-group input,
  .form-group textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
  }
  
  .form-group textarea {
    resize: vertical;
    height: 150px;
  }
  
  button[type="submit"] {
    width: 100%;
    padding: 10px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
  }
  
  button[type="submit"]:hover {
    background-color: #0056b3;
  }

  .footer {
    background-color: #333;
    color: white;
    text-align: center;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    padding-top: 20px;
    gap: 10px;
  }
  
  .footer-icons {
    margin-bottom: 10px;
  }
  
  .footer-icons .icon {
    color: white;
    font-size: 24px;
    margin: 0 10px;
    transition: color 0.3s ease;
  }
  
  .footer-icons .icon:hover {
    color: #007bff;
  }
  
  .footer p {
    margin: 0;
  }
  
  .footer a {
    color: #007bff;
    text-decoration: none;
  }
  
  .footer a:hover {
    text-decoration: underline;
  }

  .footer-copy {
    background-color: #444;
    color: white;
    text-align: center;
    padding: 10px 0;
  }

@media (max-width: 768px) {
    .menu-toggle {
        display: block;
    }

    .navbar {
        position: fixed;
        top: 0;
        width: 100%;
        z-index: 1000;
        /* Asegúrate de que el navbar esté por encima de otros elementos */
        background: transparent;
    }

    .navbar.scrolled {
        background: #ffffff;
    }

    .navbar-collapse {
        display: block;
        position: absolute;
        top: 100%;
        width: 100%;
        background-color: #ffffff;
    }

    .navbar-nav {
        display: block;
        text-align: center;
    }

    .nav-item {
        margin: 10px 0;
    }

    .navbar-center {
        justify-content: flex-end;
    }

    .linksAlign {
        display: none;
        flex-direction: column;
        width: 100%;
        background-color: #ffffff;
        position: absolute;
        top: 100%;
        padding: 10px 0;
        gap: 10px;
    }

    .linksAlign.open {
        display: flex;
        animation: showLinks 0.5s forwards;
    }

    .link {
        margin: 10px 0;
        font-size: 1.2rem;
    }

    .gallery-container {
        grid-template-columns: 1fr;
        /* Una sola columna en dispositivos móviles */
    }

    .logo {
        width: 20%;
        margin: 10px;
        margin-right: 0;
        opacity: 0;
    }

    .App-logo {
        width: 40%;
    }
}

@keyframes showLogo {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@keyframes showLinks {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}